name: CI

on:
  push:
    branches:
      - master
      - stable/**
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: setup-python-${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ hashFiles('**/setup.cfg') }}
          restore-keys: |
            setup-python-${{ runner.os }}-python-${{ matrix.python-version }}-pip

      - name: Upgrade packaging tools
        run: python -m pip install --upgrade pip setuptools virtualenv wheel

      - name: Install dependencies
        run: python -m pip install --upgrade coverage[toml] tox

      - name: Run tox targets for ${{ matrix.python-version }}
        run: |
          tox run -f py$(echo ${{ matrix.python-version }} | tr -d .)
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
